body{
    background-image:url('carceri.jpg');
    background-size: 100% 100%;
}
.big {
    display:flex;
    flex-direction: row;
    width:220px;
    font-size: 15px;
    margin-left: 15px;
}
.bigger {
    background-color: white;
    width:220px;
    padding: 10px;
    margin-top: 20px;
}

.big div{
    border: 3px solid black;
    margin-top: 10px;
}

form {
    margin-left: 550px;
}

a , .utente{
    font-size:20px;
    text-decoration:none;
    color:black;
    background-color:white;
    border-radius: 3px;
}

